<div class="test-component">
    This Blazor component is defined in the <strong>BlazorRcl</strong> package.
</div>
<div class="hello-component">
    @datetime
</div>

@code {
    private string datetime = DateTime.Now.ToLongDateString();
}