@page "/"
@*@attribute [Authorize]*@

@inject NavigationManager NavigationManager
<h1>Hello, Quizzer!</h1>


<button class="btn btn-primary" @onclick="AddQuizItem">Add a quiz item</button>

@code
{
    void AddQuizItem()
    {
        NavigationManager.NavigateTo("/QuizMaker");
    }
}