@page "/"


@using Radzen
@using Radzen.Blazor


<RadzenContent Container="main">
    <ChildContent>
        <AuthorizeView>
            <Authorized>
               <p>You can go to your <RadzenLink Path="dashboard" Text="Dashboard"></RadzenLink></p>
               <p><RadzenLink Path="harvest/projects" Text="Sync"></RadzenLink>Harvest projects</p>
            </Authorized>
            <NotAuthorized>
                <RadzenHeading Size="H6" Text="Under construction"></RadzenHeading>
                <RadzenLabel Text="Please login to use the application"></RadzenLabel>
                @*<Business.WebApp.Dashboards.DashboardOne />*@
            </NotAuthorized>
        </AuthorizeView>
    </ChildContent>
</RadzenContent>


