@page "/"

@using Radzen
@using Radzen.Blazor

<RadzenContent Container="main">
    <ChildContent>
        <AuthorizeView>
            <Authorized>
               <p>You can go to your <RadzenLink Path="dashboard" Text="Dashboard"></RadzenLink></p>
               <p>You can <RadzenLink Path="landing" Text="Upload"></RadzenLink> files here.  </p>
            </Authorized>
            <NotAuthorized>
                <RadzenHeading Size="H6" Text="Under construction"></RadzenHeading>
                <RadzenLabel Text="Please login to use the application"></RadzenLabel>
                @*<Business.WebApp.Dashboards.DashboardOne />*@
            </NotAuthorized>
        </AuthorizeView>
    </ChildContent>
</RadzenContent>


