@page "/"

@using Business.WebApp.Core.Components
@using Radzen
@using Radzen.Blazor

<RadzenContent Container="main">
    <ChildContent>
        <AuthorizeView>
            <Authorized>
               @*<p>You can go to your <RadzenLink Path="dashboard" Text="Dashboard"></RadzenLink></p>
               <p>You can <RadzenLink Path="landing" Text="Upload"></RadzenLink> files here.  </p>*@
               <CountsComponent></CountsComponent>
            </Authorized>
            <NotAuthorized>
                
            </NotAuthorized>
        </AuthorizeView>
    </ChildContent>
</RadzenContent>


