<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="EndpointUri" value="https://trialdb.documents.azure.com:443/" />
    <add key="PrimaryKey" value="ujdgYtvy0GxaAawhobRiR6L7Z9YTHUf5HLv2Vp1IdtGjSLbRg9SPScA5BRuby4iSof4UzGl8NXYD7f7OCUCbSA==" />
  </appSettings>
</configuration>