@page "{id}"
@model Business.WebAdmin.Areas.Admin.Pages.Role.Manage.DeleteModel

<div>
	<form method="post">
		<div class="mb-3">
			<label for="roleName" class="form-label">Are you sure you want to delete role?</label>
			<input contenteditable="false" asp-for="AppRole.Name" type="text" class="form-control" id="roleName" >
		</div>
		<button type="submit" class="btn btn-danger">Delete</button>
	</form>
</div>