@page "/AboutFaq"

@inject HttpClient Http

    <AuthorizeView>
        <NotAuthorized>
            <div class="d-flex justify-content-center">
                <h1>About an FAQ</h1>
            </div>
            <div class="d-flex justify-content-center">
                <img src="./images/miramar.jpg" alt="image" style="width:80%; height:300px;" />
            </div>
        </NotAuthorized>
        <Authorized>
            <div class="d-flex justify-content-center">
                <h1>About an FAQ</h1>
            </div>
            <hr />
            <div class="d-flex justify-content-center">
                <div>@DateTime.Now.ToLocalTime()</div>
            </div>
            <div class="d-flex justify-content-center">
                <img src="./images/miramar.jpg" alt="image" style="width:80%; height:300px;" />
            </div>

            <hr />
            @if (faqList == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                @foreach (var faq in faqList)
                {
                    <div class="card">
                        <p class="card-header"><strong>@faq.Question</strong></p>

                        <div class="card-body">
                            <p class="card-text">@faq.Answer</p>
                        </div>
                    </div>
                    <br />
                }
            }

        </Authorized>
    </AuthorizeView>

    @code {
        private TrialBlazorWasm.Models.AboutFaq[] faqList;

        protected override async Task OnInitializedAsync()
        {
            faqList = await Http.GetFromJsonAsync<TrialBlazorWasm.Models.AboutFaq[]>("https://aboutfaqservice.azurewebsites.net/api/AboutFaq");
        }
    }
